*{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: white;
    transition: background 1s cubic-bezier(0.19, 1, 0.22, 1);
    flex-direction: column;
    width: 100%;
}
button{
    width: 10rem;
    height: 4rem;
    border-radius: 1rem;
    border: none;
    background: lightgray;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.2rem;
}
span{
    background: rgb(253, 215, 0);
    left: 0.333rem;
    width: 3rem;
    height: 3rem;
    border-radius: 100rem;
    display: flex;
    transition: all 1s cubic-bezier(1,.07,.53,.73);
    align-items: center;
    justify-content: center;
    position: absolute;
}
span img{
    transition: all 1s cubic-bezier(1,.07,.53,.73);
    position: absolute;
    width: 70%;
    height: 70%;
}


