*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10rem;
    width: 20rem + max-content;
    border-radius: 0.333rem;
    box-shadow: 0rem 0rem 1rem 0.222rem black;
}
h1{
    margin: 1rem;
}
.content{
    padding: 1rem;
}
.content input,button {
    padding: 0.444rem;
}
.content button{
    background: #700ab4;
    border:none;
    color: white;
    transition: background,color,border-radius, 0.5s;
    cursor: pointer;
    width: 5rem;
    font-weight: bold;
}
.content button:hover{
    background: #a45add;
    color: rgb(0, 255, 149);
    border-radius: 1rem;
    font-size: 1rem;
}